<div class="container">

  <h4>TODO:</h4>
  <ol>
  <li>If user is not signed in - display "Welcome".</li>
  <li>If user is signed in then  display all users</li>
  </ol>

  <h3>
    Hello, <%= @user.name %>
  </h3>

  <% if current_user %>
    <% @users.each do |user| %>
      <p>My friend, <%= user.name.to_s %></p>
    <% end %>
  <% end %>

</div>
